<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <ion-card-title>Registro Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
       <form [formGroup]="formularioRegistro" (keyup.enter)="CrearUsuario()">

        <ion-item>
          <ion-label position="floating">Nombre..</ion-label>
          <ion-input type="text" required
          formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Correo..</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password..</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirme Password..</ion-label>
          <ion-input type="password" formControlName="confirmaPass"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select interface="popover" placeholder="Seleccione tipo usuario"  formControlName="creaRol">
              <ion-select-option value="Profesor">Profesor</ion-select-option>
              <ion-select-option value="Estudiante">Estudiante</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
       </form>
       <br>
       <ion-button (click)="CrearUsuario()" expand="block" fill="outline" shape="round">
        Registrar
       </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
     <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
       Login
      </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-footer>
