<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Estudiante !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a AsistenciaDuocUC</ion-card-title>
      <ion-card-subtitle>Aqui podrás acceder a tus clases</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

   <ion-card>

    <ion-item href="#" detail=false>
      <ion-card-subtitle>Movil-</ion-card-subtitle>
      <ion-card-subtitle>Seccion 07V</ion-card-subtitle>
      <ion-button fill="outline" slot="end" shape="round" routerLink="/leer-qr">
        Ingresar
      </ion-button>
    </ion-item>

    <ion-item href="#" detail=false>
      <ion-card-subtitle>Etica-</ion-card-subtitle>
      <ion-card-subtitle>Seccion 05V</ion-card-subtitle>
      <ion-button fill="outline" slot="end" shape="round" routerLink="/leer-qr">
        Ingresar
      </ion-button>
    </ion-item>

    <ion-item href="#" detail=false>
      <ion-card-subtitle>Progr. Web-</ion-card-subtitle>
      <ion-card-subtitle>Seccion 03V</ion-card-subtitle>
      <ion-button fill="outline" slot="end" shape="round" routerLink="/leer-qr">
        Ingresar
      </ion-button>
    </ion-item>
   </ion-card>

</ion-content>
