<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>GENERAR QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Su código QR ha sido creado con éxito</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <icon-card>
        <img src="assets/qr.jpg" class="ion-padding">
      </icon-card>
      <p class="parrafo">Programación Web</p>
      <p class="parrafo">Sección 03V</p>
      <ion-card-title>No olvide proyectar este codigo</ion-card-title>
    </ion-card-content>

    
   </ion-card>


</ion-content>
