<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>

    <ion-item lines="full">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-item class="borders">
        <ion-label position="floating" color="primary">Ingrese Correo</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      
    </ion-item>

  </form>
  
  <ion-button (click)="Confirma()"  expand="full" fill="outline" shape="round">
    Confirme
  </ion-button>
 
   <p>{{ handlerMessage }}</p>

</ion-content>
