<ion-content class="auth-form">
  <img src="assets/icon/artboard.svg" class="icono" >
  <h2 class="title">Asistencia DuocUC</h2>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <span>Registro</span>
        <ion-button [routerLink]="['/registro-estudiante']" expand="block" color="light">Soy un estudiante</ion-button>
        <ion-button [routerLink]="['/registro-profesor']" expand="block" color="light">Soy un profesor</ion-button>
        <span>Si ya tienes una cuenta</span>
        <ion-button [routerLink]="['/login']" expand="block" color="light">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>