.fondos{
    
position: absolute;
width: 414px;
height: 896px;
left: 0px;
top: 0px;

background: linear-gradient(167.95deg, #4272ED 0%, #9FDCFF 99.98%, rgba(1, 162, 253, 0.00520833) 99.99%, rgba(0, 163, 254, 0) 100%);
}
ion-content {
    --background: linear-gradient(167.95deg, #4272ED 0%, #9FDCFF 99.98%, rgba(1, 162, 253, 0.00520833) 99.99%, rgba(0, 163, 254, 0) 100%);
  }