.title{
    
position: relative;
font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #FFFFFF;


}
ion-content {
    --background: linear-gradient(167.95deg, #4272ED 0%, #9FDCFF 99.98%, rgba(1, 162, 253, 0.00520833) 99.99%, rgba(0, 163, 254, 0) 100%);
  }

.icono{
    padding-left: 35%;
    width: 10rem;
}