<ion-header>
  <ion-toolbar>
    <ion-title>inputs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #formulario="ngForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label>Ingrese su Nombre</ion-label>
      <ion-input type="text" placeholder="Nombre"
                 name="nombre" [(ngModel)]="usuario.nombre" required></ion-input>
    </ion-item>
    <ion-label>Ingrese su Apellido</ion-label>
    <ion-input type="text" placeholder="Apellido"
               name="apellido" [(ngModel)]="usuario.nombre" required></ion-input>
  </ion-item>

    <ion-item>
      <ion-label>Ingrese su Email</ion-label>
      <ion-input type="email" placeholder="Email"
                 name="email" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingrese su Password</ion-label>
      <ion-input type="password" placeholder="Password"
                 name="password" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>

    <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="full" routerLink="/inicio">
      Enviar
    </ion-button>



  </form>
</ion-content>
