<ion-app>

  <ion-menu contentId="main" menuId="first" side="start" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
       <ion-list>
          <ion-menu-toggle *ngFor="let c of componentes">
              <ion-item [routerLink]="c.redirecTo" detail=true>
                <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
                {{c.name}}
              </ion-item>
          </ion-menu-toggle>
        </ion-list> 
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
