<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Ingresar a esta clase?</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <icon-card>
       <ion-button (click)="Escanear()" expand="block" fill="clear" shape="round">
        Escanear código QR
       </ion-button>
      </icon-card>
      
    </ion-card-content>

      <ion-item>
        <ion-label class="ion text wrap"> Resultado: {{scanResult}} </ion-label>
      </ion-item>
     
       <p>{{ handlerMessage }}</p>
   </ion-card>

</ion-content>
