.titulo{
    position: relative;
    
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #ffffff;


}
ion-content {
--background: linear-gradient(167.95deg, #4272ED 0%, #9FDCFF 99.98%, rgba(1, 162, 253, 0.00520833) 99.99%, rgba(0, 163, 254, 0) 100%);
    }
ion-toolbar {
    --background: transparent !important}
ion-header {
        --background: transparent !important}
.borders{
    border-radius: 15px !important;
    --background: rgb(240, 240, 240) !important;
    height: 4rem;
    width: 20rem;

            
}
ion-item{
    --background: transparent !important;
    
}
.icono{
    padding-left: 35%;
    width: 10rem;
}